---
layout: base.njk
title: Contact
---
<div class="row" >
    <div class="newsList-col">
        <section class="newsList">
            <img src="/img/second_meeting.jpg" alt="Picture of the guys" >
            <h3>Thank you for visiting</h3>
            <div class="layer">
                <p style="opacity:1">
                If you have any questions about Immerse, please feel
            free to get in contact at any time</p>
            </div>
        </section>
    </div>
</div>
<section>
    <h2>Contact us!</h2>
    <p>Phone: +47 94421567</p>
    <p>Email: immersentnu@gmail.com</p>
    <p>Facebook: <a href="https://www.facebook.com/immersentnu">Immerse NTNU</a></p>
</section>