---
layout: base.njk
title: Sponsors
---
<article>
    <section>
        <img src="../img/frifond.avif" alt="SIT Logo">
        <h3>Sponsored by: Frifond</h3>
        <p>We are being sposored by Frifond, which is why we are able to give out pizza every meeting</p>
    </section>
</article>
