:root {
	--base-color: rgb(72, 209, 205);
	--base-color-trans: rgb(72, 209, 205, 0.253);
}

button {
	background: var(--base-color-trans);
	color: white;
	backdrop-filter: blur(2px);
	border: none;
	margin: 4px 2px;
	padding: 15px 32px;
}

button:hover {
	background: var(--base-color);
}

.video-box {
	min-height: 28vh;
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.video-box video {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0px;
	object-fit: cover;
	filter: blur(4px) brightness(50%);
	transition: filter 200ms;
}
.video-box h1 {
	font-family: "Oswald", "Avenir Next Condensed", "Arial Narrow",
                 "MS UI Gothic", sans-serif;
	font-size:28px;
	margin-left: 0;
}
.video-box:hover video {
	filter: blur(0) brightness(100%);
	transition: filter 200ms;
}
.topdiv{
	position: relative;
	padding: 40px;
}

/* News and Event preview */
.event {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.link_arrow {
	position: absolute;
    bottom: 0;
    right: 0;
	transform: translate(-20%, -20%);
}
.link_arrow img {
	width: initial
}
.event p {
	width: 80%;
}


/* Style rules for PC and tablets */
@media only screen and (min-width: 800px){
	#eventAndNews{
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 20px;
		width: 80%;
		margin: auto;
	}
	.event {
		width: 40%;
		margin-top: 0;
	}
	.event p {
		white-space: pre-wrap;
		overflow: hidden;
	}
	.event:before {
		content:'';
		width:100%;
		height:50%;    
		position:absolute;
  		left:0;
  		top:50%;
  		background:linear-gradient(0deg, #0B0C10, transparent 50%);
	}
}

/* Style rules for small PC/Tablet window */
@media only screen and (min-width: 1200px) {
	#eventAndNews{
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 20px;
		width: 70%;
		margin: auto;
	}
  }
