video {
    width: 85%;
    display: block;
    margin: auto;
    opacity: 80%;
    border-radius: 10px; 
    margin-bottom: 20px;
}

article section {
    margin-bottom: 40px;
}

a {
    color: var(--main-color-light);
}

/* Styling for PC and tablets */
@media only screen and (min-width: 800px){
    video {
        width: 55%;
    }
    #external_link_container {
        width: 60%;
        display: flex;
        gap: 30px;
        margin: auto;
    }
    #external_link_container section {
        width: 45%;
    }
}