.videos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 45%;
}

video {
    width: 45%;
    display: block;
    opacity: 80%;
    box-shadow: 10px 10px var(--shadow-color);
}
a {
    color: var(--main-color-light);
    text-decoration: none;
}