/* Colours:
    #0B0C10; Dark blue
    #1F2833; Gunmetal blue

    #C5C6C7; Light Grey
    #FFFFFF; White

    #66FCF1; Neon blue
    #45A29E; Teal
*/

/*
Zebbben colours:
  #1f1f1f; Erie Black
  #323232; Jet Black
  #444444; Onyx
  #3700FF; Ultramarine
  #6800FF; Electric Indigo
  #9B00FF; Vivid Violet
*/

/* --- Background and Body --- */

:root {
  --main-color: #6800FF;
  --main-color-dark: #4900b6;
  --main-color-light: #9B00FF;
  --gray-light: #444;
  --gray: #323232;
  --gray-dark: #1f1f1f;
  --shadow-color: rgba(0,0, 0, 0.5);
}
body {
  /* Background  */
  background-color: var(--gray-light);
  /*background-image: url("../img/backgroundImage.png");*/
  background-attachment: fixed;
  background-size: 100% 100%;
  /* Body */
  margin: 0;
  min-height: 100vh;
  position: relative;
  top: 0;
}



/* --- Article section format --- */
* {
    font-family: "Oswald", "Avenir Next Condensed", "Arial Narrow",
                 "MS UI Gothic", sans-serif;
}
article {
  width: 60%;
  margin: auto;
}
article section {
  background-color: var(--gray);
  position: relative;
  padding: 0 12px 12px 12px;
  box-shadow: 10px 10px var(--shadow-color);
}

/* Headers */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 6ch;
  font-weight: 600;
  /*transform: scale(1, 1.3);*/
  color: var(--main-color-light);
  margin-top: 60px;
  text-align: center;
}
article h2 {
  /* Font */
  font-weight: normal;
  color: white;

  /* Box styling */
  background-color: var(--main-color);
  padding: 0 7px;
  border: 10px;
  box-shadow: 3px 3px var(--shadow-color);

  /* Positioning */
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -5px;
}
article section h2 + p,
article section h2 + h3,
article section h2 + h4 {
  /* Adds space before specific text tags after using a h2 header */
  padding-top: 35px;
}
article h3 {
    font-weight: normal;
    font-size: 3.1ch;
    color: #FFFFFF;
    margin: 0;
    padding: 0.1ch .6ch 0.7ch;
}
article h4 {
  font-weight: 400;
  font-size: 2.3ch;
  color: var(--main-color-light);
  margin: 0;
  padding: 0 .8ch;
  transform: translate(0, -5px)
}

/* Contents */
article section {
  justify-content: center;
  align-items: center;
  margin: 75px auto;
}
article section p {
  font-weight: 250;
  font-size: 2.2ch;
  color: white;
  margin: 0;
  padding: .2ch .8ch 1.2ch;
}
article section img {
  width: calc(100% + 24px);
  position: relative;
  left: -12px;
}
article section video {
  width: 100%;
}
article section hr {
  border: 1px solid var(--gray-dark);
  width: auto;
  margin: .8ch;
}


/* --- Footer --- */
footer {
	width: 100%;
	height: 9rem;
	bottom: 0;
	position: absolute;
	text-align: center;
	background-color: var(--gray-dark);
	backdrop-filter: blur(8px);

	color: rgb(240, 240, 240);
}
article:last-of-type {
	padding-bottom: 8rem;
}
.link_arrow img {
 filter: brightness(0%) opacity(33%);
}

/* --- Topbar --- */
#topbar{
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#topbar img {
  width: 300px;
  margin: auto;
}
#topbar a {
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  top: 10px;
  color: white;
}
#topbar a:hover{
    color: var(--main-color-light);
}
#topbar p {
  padding: 14px 20px;
  font-size: 17px;
  top: 10px;
  color: var(--main-color-light);
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}
