/* Colours:
    #0B0C10; Dark blue
    #1F2833; Gunmetal blue

    #C5C6C7; Light Grey
    #FFFFFF; White

    #66FCF1; Neon blue
    #45A29E; Teal
*/

/*
Zebbben colours:
  #1f1f1f; Erie Black
  #323232; Jet Black
  #444444; Onyx
  #3700FF; Ultramarine
  #6800FF; Electric Indigo
  #9B00FF; Vivid Violet
*/

/* --- Background and Body --- */

:root {
  --main-color: #6800FF;
  --main-color-dark: #4900b6;
  --main-color-light: #9B00FF;
  --gray-light: #0F0F0F;
  --gray: #272727;
  --gray-dark: #1f1f1f;
}
body {
  /* Background  */
  background-color: var(--gray-light);
  /*background-image: url("../img/backgroundImage.png");*/
  background-attachment: fixed;
  background-size: 100% 100%;
  /* Body */
  margin: 0;
  min-height: 100vh;
  position: relative;
  top: 0;
}



/* --- Article section format --- */
* {
    font-family: "Arial Narrow",
                 "MS UI Gothic", sans-serif;
                 color: white;
}
article {
  width: 95%;
  margin: auto;
}
section {
  background-color: var(--gray);
  padding: 12px;
}
article h2 {
  margin-top: 4px;
}

article h3 {
    margin-bottom: 0;
    margin-top: 10px;
}
article h4 {
  font-weight: 400;
  font-size: 2.3ch;
  color: var(--main-color-light);
}

/* Contents */
article section {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 50px;
}
article section p {
  font-weight: 250;
  font-size: 2.2ch;
  margin: 0;
}
article section img {
  width: calc(100% + 24px);
  position: relative;
  left: -12px;
}
article section video {
  width: 100%;
}
article section hr {
  border: 1px solid var(--gray-dark);
  width: auto;
  margin: .8ch;
}


/* --- Footer --- */
footer {
	width: 100%;
	height: 9rem;
	text-align: center;
	background-color: var(--gray-dark);
	color: rgb(240, 240, 240);
}
article:last-of-type {
	padding-bottom: 8rem;
}
.link_arrow img {
 filter: brightness(0%) opacity(33%);
}

/* --- Topbar --- */
.topbar{
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topbar img {
  width: 120px;
  margin: auto;
  padding-bottom: 4px;
}
.topbar a {
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  top: 10px;
  color: white;
}
.topbar a:hover{
    color: var(--main-color-light);
}
.topbar p {
  padding: 14px 20px;
  font-size: 17px;
  top: 10px;
  color: var(--main-color-light);
}

/* Default styles for mobile screens */
.menu {
    display: none;
    flex-direction: column;
    width: 100%; /* Optional: you might want it to take the full width */
}

.menu.open {
    display: flex;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

@media (min-width: 800px) {
  article {
    width: 60%;
    margin: auto;
  }
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row; /* Menu items in a row, i.e., horizontally */
        justify-content: center; /* Optional: spreads items evenly */
        align-items: center;
    }
}